.DS_Store
.jpeg
acse-jp2923_DLcw1_clean-Copy1.ipynb
acse-jp2923_DLcw1_clean-Copy2.ipynb
acse-jp2923_DLcw1_clean-Copy3.ipynb
acse-jp2923_DLcw1_clean_prev_og.ipynb
*.zip
*.tgz

models (DCGAN NO INIT)/
plan.md
GAN_hands/highloss.png
GAN_hands/lowloss.png
GAN_hands/vhighloss.png



